footer{
    background-color: rgba(59, 56, 255, 0.2);
    padding: 0.2rem 1rem;
    position: fixed;
    width: 98%;
    bottom: 0;
}

.name i{
    font-size: 1.2rem;
}

.name{
    display: inline-flex;
}

.social-media{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.contact-info span{
    margin-left: 0px;
}

.contact-info span:hover{
    text-decoration: underline;
}

.contact-info{
    text-align: left;
}

.links a{
    text-decoration: none;
    color: black;
    float: right;
}

.links a:hover{
    text-decoration: underline;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignment{
    align-items: flex-start;
}

