/* grid c3 */
 .grid-box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}





@media screen and (max-width: 992px) {
  .grid-c2 {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 240px;
  }
}
