/* grid c4 */
.grid-c7 .grid-c-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.ai-container {
  cursor: default;
}
.grid-c7-content {
  margin-top: 20px;
  border-radius: 16px;
}
.grid-c7 .grid-c4-content {
  padding: 12px;
}
.grid-c7 .grid-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}
.grid-c7 .grid-item-l {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}
.grid-c7 .grid-item-l .icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.grid-c7 .grid-item-l .icon img {
  width: 20px;
}
.grid-c7 .grid-item-l .text {
  font-weight: 600;
}
.grid-c7 .grid-item-l .text span {
  font-weight: 300;
  font-size: 15px;
  display: block;
  margin-top: 5px;
  opacity: 0.9;
}


.ai-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

h1 {
  color:#1e88e5;
}

.insight-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 20px;
  margin-top: 10px;
}

.insight-card {
  background-color: #f3e5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.insight-card:hover {
  transform: translateY(-5px);
}

.insight-card h3 {
  color: #1e88e5;
  margin-bottom: 10px;
}

.insight-card ul {
  padding-left: 18px;
  margin: 0;
}

.sub-title{
  color: rgb(156, 156, 156);
}

.insight-grid,.limited {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 20px;
}

/* Hide cards after index 1 when on home page */
.insight-grid.limited .insight-card:nth-child(n+3) {
  display: none;
}
/* Limit to 2 cards */
.insight-grid.limited .insight-card:nth-child(n+3) {
  display: none;
}

/* Button container */
.see-more-container {
  text-align: center;
  margin-top: 20px;
}

/* Button styling */
.see-more-btn {
  padding: 10px 20px;
  background-color: #007BFF; /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.see-more-btn:hover {
  background-color: #0056b3;
}
