.navbar{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding :20px 70px 20px 70px;
  background-color: rgb(35, 120, 248);
  height: 30px;
  font-weight: 400;
  color: rgb(255, 253, 253)
}
.navbar p{
  font-size: 20px;
    cursor: default;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 1px;
  cursor: pointer;
}


.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-size: 18px;
  cursor: default;
}

.nav-connect{
   width: 8 0px;
  padding: 6px 14px;
  border-radius: 20px;
 background-color: rgba(3, 0, 198, 0.986);
 color: white;
  cursor: pointer;
  border-color: rgb(0, 0, 255);
  
}
.nav-connect:hover{
  transform: scale(1.05);
  transition: 0.2s;
}


 @media(max-width:760px) {
    
  .navbar{
    padding :10px 10px 10px 20px;
  }

 }