/* grid c1 */


.grid-box1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
 
  
}




@media screen and (max-width: 768px) {
  .grid-c1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}