/* main content top */
.main-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.sidebar-toggler {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.sidebar-toggler img {
  width: 20px;
}
.content-top-title {
  color: var(--clr-white);
  font-size: 20px;
  font-weight: 600;
  cursor: default;
}
.content-top-btn {
  color: brown;
  margin-left: 18px;
}
.content-top-btn img {
  color: brown;
  width: 32px;
}

img {
  fill: white;
  transition: filter 0.3s ease;
}



.content-top-btn img:hover {
  filter: grayscale(100%) brightness(0.7);
}
.content-top-left {
  display: flex;
  align-items: center;
}




.white_btn:hover{
  transform: scale(1.05);
  transition: 0.2s;
}
